<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      href="/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Edit Data</title>
  </head>
  <body>
    <form action="edit.ejs">
      
    </form>
    <div
      class="container"
      style="padding: 20px"
    >
      <form
        action=""
        method="post"
      >
        <h1>Edit Data</h1>
        <!-- String -->
        <div class="row">
          <div class="label">
            <label for="String">String</label>
          </div>
          <div class="input">
            <input
              type="text"
              name="string"
              placeholder="Tulis String"
              value="<%= item.string %>"
              required
            />
          </div>
        </div>
        <!-- Tutup String -->
        <!-- Mulai Integer -->
        <div class="row">
          <div class="label">
            <label for="Integer">Integer</label>
          </div>
          <div class="input">
            <input
              type="number"
              name="integer"
              placeholder="Tulis Integer"
              value="<%= item.integer %>"
              required
            />
          </div>
        </div>
        <!-- Tutup integer -->
        <!-- Mulai float -->
        <div class="row">
          <div class="label">
            <label for="String">Float</label>
          </div>
          <div class="input">
            <input
              type="number"
              name="float"
              placeholder="Tulis Float"
              required
              step="0.005"
              value="<%= item.float %>"
            />
          </div>
        </div>
        <!-- Tutup float -->
        <!-- Date -->
        <div class="row">
          <div class="label">
            <label for="date">Date</label>
          </div>
          <div class="input">
            <input
              type="date"
              name="date"
              placeholder="Tulis Date"
              value="<%= item.date %>"
              required
            />
          </div>
        </div>
        <!-- Tutup Date -->
        <!-- Mulai boolean -->
        <div class="row">
          <div class="label">
            <label for="boolean">Boolean</label>
          </div>
          <div class="input">
            <select
              id="boolean"
              name="boolean"
              required
            >
              <option value="">--Boolean--</option>
              <option value="true" <%= item.boolean==true ? 'selected' : " " %>>True</option>
              <option value="false" <%= item.boolean==false ? 'selected' : " " %>>False</option>
            </select>
          </div>
        </div>
        <br />
        <button
          type="submit"
          class="add"
          value="Save"
        >
          Update
        </button>
        <!-- Tutup boolean -->
</div>
</form>
  </body>
</html>
